.sectionBackground {

    position: relative;

}


.sectionBackground::before {

  content:"";
  position: absolute;
  inset: 0;
  background-image: url('../assets/images/SelvaVerde.webp');
  background-size: cover;
  background-position: center;
  opacity: 1; /* Ajusta la opacidad según necesites */
  filter: blur(0.5px);/* Ajusta el blur según necesites */
  
}