/* ButtonComponent.module.css */
.custom-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.199), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.button-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-hover:enabled:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.button-active:enabled:active {
  outline: 1px solid rgba(9, 172, 58, 0.918);
  transform: scale(0.99);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}