.whatsapp-btn-container {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    right:5px;
    bottom: -50px;
    opacity: 0;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;

}

@keyframes fade-up {
    100% {
        bottom: 20px;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn {
    font-size: 40px;
    color: #25d366;
    display: inline-block;
    opacity: 20%;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

.whatsapp-btn-container span {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #075e54;
    transform: rotateZ(25deg) translateX(10px);
    opacity: 0;
    transition: all 400ms;

}

.whatsapp-btn-container .whatsapp-btn:hover+span {
    transform: rotateZ(0deg) translateX(0px);
    opacity: 1;
}



@media (max-width: 640px) {
    
    .whatsapp-btn-container  {
      transform: translate(10px, 10px);
      display: none;
    }
  }